<body>
  <h1><%= @item.title %></h1>
  <h3><%= @item.body %></h3>
  <p><%= @item.price %>원</p>
  <button type="button", onclick="wishlist_alert()">
    <%= link_to "찜하기", wishlists_path(id: @item.id), method: :post%>
  </button>
  <div class="">
    <%= form_for @item, url: :orders, method: :post do |f|%>
        <%= f.hidden_field :id%>
        <input type="number" name="quantity">
        <%= f.submit value: "장바구니"%>
      <% end %>
  </div>
</body>

<script type="text/javascript">
  function wishlist_alert() {
      alert("완료(중복일 경우 안 담김)")
  }
</script>
