<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
    <%= link_to "Items", items_path %>
    <%= link_to "My Wishlist",  wishlists_path%>
    <%= link_to "My Cart", orders_path %>
    <% else  %>
    <%= link_to "SignIn", new_user_session_path, class:"nav-link" %>
    <% end  %>
    <%= yield %>
  </body>
</html>
